{% set alt_l = alt %}
{% set t = bag('versions', 'torbrowser-stable') %}
{% set download_prefix = '/dist/torbrowser/' + t.version + '/' %}
{% set version = t.version %}
{% if alt_l == 'en' %}
  {% set alt_l = 'en-US' %}
{% elif alt_l == 'es' %}
  {% set alt_l = 'es-ES' %}
{% endif %}
{% set a = bag('download-alternatives') %}
<script> 
  altData = [];
  var download_prefix = "{{download_prefix}}";
  var version = "{{version}}"
</script>
{% for id, item in bag('download-alternatives').items() %}
<script>
  altData.push(["{{id}}", "{{item.language}}"]);
</script>
{% endfor %}
<div class="row">
  <h1 class="mx-auto display-2 text-white text-center">{{ _('Defend yourself.') }}</h1>
</div>
<div class="row">
  <h3 class="mx-auto defend text-white text-center">{{ _('Protect yourself against tracking, surveillance, and censorship.') }}</h3>
</div>
<div class="row p-5 mx-auto">
    <div style="margin:auto">
      <div class="oval-2 bg-darker">
        <a class="downloadLink" id="downloadLink" href="">
          <i class="text-light fab" id="downloadIcon"></i>
        </a>
        <a class="downloadLink btn btn-primary mt-4" id="downloadButton" href=""><br></a>
        <a class="link" id="sigLink" href="" download><span class="nick text-white">{{ _('Signature') }}</span></a>
        <a class="link" href="{{ 'https://support.torproject.org/' + this.alt + '/tbb/how-to-verify-signature/' }}" target="_blank"><i style="font-size:10px;" class="text-light fas fa-question-circle"></i></a>
      </div>
    </div>
</div>
<!--
<div class="col-sm-6 col-md-3 py-3">
  <div class="oval-2 bg-darker mx-auto">
    <a href="#android">
      <i class="text-light fab fa-android-png"></i>
    </a>
    <a class="btn btn-primary mt-4" href="#android">{{ _('Download for Android') }}</a>
  </div>
</div>
-->
<div class="row p-5" style="margin-top:45px">
  <a class="mx-auto text-white py-3 text-center" href="{{ 'languages'|url(alt=this.alt) }}"><u>{{ _('Download in another language or platform') }}</u></a>
  <a class="mx-auto text-white py-3 text-center" href="{{ 'alpha'|url(alt=this.alt) }}"><u>{{ _('Download the latest alpha build') }}</u></a>
  <a class="mx-auto text-white py-3 text-center" href="{{ 'tor'|url(alt=this.alt) }}"><u>{{ _('Download Tor Source Code') }}</u></a>
</div>

<div class="row bg-darker my-5 p-3 rounded">
  {% from "macros/downloads.html" import render_tor_browser_blog_post %}
  <h5 class="mx-auto text-white text-center my-0"><i class="text-light fas fa-exclamation-circle text-warning px-2"></i>{{ _('Android Tor Browser 10 is under active development. Watch for its release in the coming weeks.') }}</h5>
</div>

<div class="hidden-sm row p-md-5 justify-content-center window-bg">
  <a class="mx-auto text-white text-center py-md-5" href="https://blog.torproject.org/category/tags/tor-browser"><u>{{ _('Read the latest release announcements') }}</u></a>
</div>
